@model ECommerceWebsite.Models.OrderViewModel
@{
    if (ViewBag.user != null)
    {

    }

}

@using (Ajax.BeginForm("CheckOut", "ShoppingCart", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnComplete = "OnSuccessCO",
    OnFailure = "OnFailure"
}, new { @Id = "myForm" }))
{
<script>
    function OnBeginCO() {
        $('#btnCheckOut').attr("disabled", "disabled");
        $('#load_send').html('<h2>Đang gửi....</h2>');
    }
    function OnSuccessCO(res) {
        if (res.Success) {
            if (res.Code == 1) {
                location.href = "/ShoppingCart/CheckOutSuccess";
            }
            else {
                location.href = res.Url;
            }
        }
    }
                                            //function OnFailure() {

                                            //}
</script>
    @Html.AntiForgeryToken();
    
    <h3>Thông tin khách hàng</h3>
    if (!Request.IsAuthenticated)
    {
        <div class="form-group">
            <label>Họ tên khách hàng</label>
            <input type="text" name="CustomerName" required class="form-control" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input type="text" name="Phone" class="form-control" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Địa chỉ</label>
            <input type="text" name="Address" class="form-control" autocomplete="off" />
        </div>
    }
    else
    {
        var user = (ECommerceWebsite.Models.ApplicationUser)ViewBag.user;
        <div class="form-group">
            <label>Họ tên khách hàng</label>
            <input type="text" name="CustomerName" value="@user.FullName" required class="form-control" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input type="text" name="Phone" value="@user.Phone" class="form-control" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Địa chỉ</label>
            <input type="text" name="Address" class="form-control" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="Email" value="@user.Email" class="form-control" autocomplete="off" />
        </div>
    }



    <div class="form-group">
        <label>Hình thức thanh toán</label>
        <select class="form-control" name="TypePayment">
            <option value="1" selected>Trực tiếp</option>
            <option value="2" selected>Chuyển khoản</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-success">Đặt hàng</button>
    </div>
    <div class="form-group">
        <a href="/gio-hang" class="btn btn-block btn-danger">Quay lại</a>
    </div>
}
